@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nico Moji';
  src: url('src/fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}